@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');
body{
    background-color: aquamarine;
    color: blueviolet;
    font-family: "Ole", cursive;
}


.cabecalho{
  text-align: center;
  background-color:brown;
}